.tab{
    background-color: blueviolet;
}
.experience{
    width: 600px
}
.title{
    font-size: 25px;
    color: #ccd6f6;
    font-family: sans-serif;
    font-weight: bolder
}
@media (max-width:960px) {
    .experience{
    margin-left:auto;
    margin-right:auto; 
    width: auto;     
} 
}