.text{
    color:"white"
}

  .projectImage{
    width: 400px;   
    z-index: -1;
    opacity: .4
  }
@media  (max-width:767px) {
    .projectImage{
        margin-top: 1.4em;
        width:500px;
    }
}