.App {
  align-items: center;
  justify-self: center;
  min-height: 100vh;
  /* background: color #0f2631 h; */
}

.title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.title::after {
  content: "";
  height: 1px;
  background-color: #8892b0;
  margin-top: 5px;
  margin-left: 5px;
}

.hero {
 
 width: 100%;
 z-index: 1;
  background-color: #0a192f;
  position: fixed;
}
.link {
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  font-size: large;
  font-family: sans-serif;
  cursor: pointer;
  color: white;
  
}

/* scroll to top button */
.top-btn-position {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

.top-btn-style {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.top-btn-style:hover {
  animation: none;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
}
.App-header{
  margin-bottom: 10em;
}